	section#Articles > article >article> h2{
		color:gray;
	}
	
	section#Articles > article >article> P{
		color: darkgray;
	}

	section#Articles > article >article> a{
		color: #666;
		width: 90px;
		padding: 10px;
		background-image:url("right-arrow-dark.png");
		background-repeat:no-repeat;
		background-position:right;
		padding-right: 21px;
    		display: inline;
		border-radius: 5px;
	}
	
	section#Articles > article >article> a:hover{
		width: 90px;
		padding: 10px;
		background-image:url("right-arrow-light.png");
		background-repeat:no-repeat;
		background-position:right;
		color: white;
		padding-right: 21px;
    		display: inline;
		color:white;
		background-color: black;
		
		
	}

@media screen and (max-width: 425px){
	section#Articles > article >h2{
		width: 385px;
	}
	
	section#Articles > article > article{
		height: 280px;
		width: 385px;
	}
	
	section#Articles > article > article>div{
		width:385px;
		height: 5px;
		border-left: 4px solid darkgray;
	}
	
	section#Articles > article > article> h2{
		width: 385px;
		height: 40px;
	}
	
	section#Articles > article > article> p{
		width: 385px;
	}
	
	section#Articles > article > article> a{
		width: 385px;
	}
}