        {
            margin: 50px 0;
        }
        #Presentation h4
        {
            margin: 10px 10px 10px 0;
        }
        div.presentation-video
        {
            height: 300px;
            width: 480px;
            position: relative;
        }
        div.presentation-video > img:last-child
        {
            position: absolute;
            top: 120px;
            right: 210px;
        }
        #Presentation > div > div > div:last-child
        {
            padding: 20px;
            background-color: white;
            height: 60px;
        }
	
	 #Presentation > div > div > div:last-child >p{
		color: darkgray;
	}

	@media screen and (max-width: 425px){
	#Presentation > h2{
		width:385px;
	}
	
	#Presentation > div{
		width: 385px;
		flex-direction: column;
	}
	
	div.presentation-video{
		height: 218px;
		width: 350px;
	}
	
	div.presentation-video > img:first-child{
		height: 218px;
		width: 350px;
	}

	div.presentation-video > img:last-child{
		top: 79px;
		right: 145px;
	}

	#Presentation > div > div > div:last-child >p{
		width: 385px;
	}
	
	#Presentation > div > div > div:last-child{
		    width: 310px;
	}
}